.representation {
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100vh;
}

.representation img {
    width: 65%;
}

.representation .column {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: .5em;
}